section {
    padding: 20px 0;
    max-width: 600px;
    margin: 0 auto;
}

.slide {
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.card-container {
    margin: 10px;
    max-width: 700px;
    height: 200px;
    position: relative;
}


/*enter */

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
    animation: hop 1s ease-in-out;
}

.fade-enter-done {
    opacity: 1;
}


/*exit */

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
    animation: hop 1s ease-in-out;
}

.fade-exit-done {
    opacity: 0;
}

@keyframes hop {
    from {}
    to {}
}

.points {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.slide-def {
    border-radius: 50%;
    background-color: lightgray;
    width: 15px;
    height: 15px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.slide-act {
    border-radius: 50%;
    background-color: grey;
    width: 15px;
    height: 15px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}